$back-groundcolor: #FBFBFB;
$back-groundcolor-fade: #dbdbdb;
$back-groundcolor-submit: #87a6af;
$back-groundcolor-submit-fade: #4e6268;

$back-groundcolor-card: #f0f0f0;

$navbar: #FFDDAE;
$navbar-fade: #e9c99b;